html, body {
  height: 100%;
  width: 100%;
  background :#242323;
}
.welcome {
  font-size: 100px;
  color: white;
}
.arf {
font-size: 40px;

}
  .CC {
font-size: 50px;

  }
.DBZ {
font-size: 50px;
  
}

.Slope {
font-size: 50px;
  
}

.GG {
font-size: 50px;  
}

.Seal {
font-size: 50px;


  
}

.ss {
font-size: 50px;


  
}



.backup {
font-size: 25px;


  
}