html, body {
  height: 100%;
  width: 100%;
  background :#242323;
}
.welcome {
  font-size: 100px;
  color: white;
}
.arf {
font-size: 40px;

}
  .CC {
font-size: 50px;

  }
.DBZ {
font-size: 50px;
  
}

.Slope {
font-size: 50px;
  
}

.GG {
font-size: 50px;  
}

.Seal {
font-size: 50px;


  
}

.ss {
font-size: 50px;


  
}



.backup {
font-size: 25px;


  
}



.FB {
font-size: 50px;

  
}

.dis {
  font-size: 30px;
}



.web {
font-size: 30px;

  
}

.combo {
font-size: 50px;
  
}

.osu {
font-size: 50px;

  
}

.BB {
font-size: 50px;

  
}


.surf {
font-size: 50px;

  
}


.mario {
font-size: 50px;


  
}

.fruit {
font-size: 50px;

  
}

.moto {
font-size: 50px;

  
}

.vex5 {
font-size: 50px;

  
}

.vex4 {
font-size: 50px;
  
}

.vex3 {
font-size: 50px;

}


.flip {
font-size: 50px;

  
}

.giant {
font-size: 50px;

  
}